.toshima-stickers {
	right: -141px;
    position: absolute;
	background: #fff;
	width:142px;
    margin-left: 20px;
    bottom: 0;
	height: 100%;
	overflow-y: scroll;
}
.single-sticker {
	display: inline-block;
    text-align: center;
    padding: 5px;
	width:60px;
    border-bottom: 1px solid #edeef0;
	border-right: 1px solid #edeef0;
	padding-bottom: 11px;
    position: relative;
}
.sticker-title {
    position: absolute;
    font-size: 11px;
    text-transform: lowercase;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
	overflow: hidden;
}
.single-sticker:hover {
    background-color:#c5d0db;
}
.toshima-stickers::-webkit-scrollbar { width: 0; }

/* ie 10+ */
.toshima-stickers { -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
.toshima-stickers { overflow: -moz-scrollbars-none; }